body {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  position: relative;
}

#centered-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 1s;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.button {
  width: 160px;
  height: 160px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 1s;
  border-radius: 10px;
}

.button.fade-in {
  opacity: 1;
}

.button:nth-child(1) {
  background-color: #ab3910;
  color: white;
}

.button:nth-child(2) {
  background-color: #f99b45;
  color: white;
}

.button:nth-child(3) {
  background-color: #63aac0;
}

.button:nth-child(4) {
  background-color: #e0e3d7;
}

.button:nth-child(5) {
  background-color: #d95980;
  color: white;
}

.button:nth-child(6) {
  background-color: #6fa21b;
}

.text-container {
  text-align: center;
  margin-bottom: 2rem;
  margin-right: 2rem;
  opacity: 1;
  transition: opacity 1s ease;
}

.text-line {
  font-size: 2rem;
  font-weight: bold;
  display: block;
}

.button.fade-in {
  opacity: 1;
}

.text-container.fade-in {
  opacity: 1;
}
