body {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  position: relative;
}

#centered-image {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  opacity: 0;
  transition: transform 2s, opacity 2s;
}

#centered-image.animate {
  opacity: 1;
}
